<img src="assets/images/loading.gif" [hidden]="table.isLoaded()" class="centered"/>
<div class="white-background" style="width: 100%"></div>
<div [hidden]="!table.isLoaded()">
    <div [hidden]="isCheater" class="arrange-horizontally">
    <mat-form-field>
        <input matInput [attr.disabled]="isPlayingGame()?'':null" #dateinput [matDatepicker]="picker" placeholder="Choose a date" [ngModel]="puzzleDate.value" (dateChange)="showNewPuzzle()">
        <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="isPlayingGame()?'':null"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
    <div *ngIf="isPlayingGame()" class="arrange-horizontally">
        <button class="update-puzzle-button" mat-button (click)="refreshPage()">Exit Game</button>
    </div>
    <div *ngIf="!isPlayingGame()" class="input-field arrange-horizontally">
        <mat-form-field>
            <input matInput (keyup.enter)="startNewGame()" placeholder="Game Name" [(ngModel)]="newGameName">
        </mat-form-field>
        <button class="update-puzzle-button" type="submit" mat-button (click)="startNewGame()">Start New Game</button>
    </div>
    <div [hidden]="!table.isLoaded()">
        <app-table #table (outputChangedSquare)="updatedSquare($event)" (outputFocusedSquare)="updateFocusedHint($event)"></app-table>
        <app-hints #acrossHints (hintForMobile)="outputToApp($event)" (clickedHint)="focusWordByClickedHint($event, false)"></app-hints>
        <app-hints #downHints (hintForMobile)="outputToApp($event)" (clickedHint)="focusWordByClickedHint($event, true)"></app-hints>
    </div>
</div>
