<div style="text-align:center;">
  <mat-card class="login-card regular-text">
    <mat-card-title class="logo-text">CrossWithFriends</mat-card-title>
    <button mat-raised-button (click)="signInWithGoogle()" class="signin-button">
      <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
      Sign in with Google
    </button>
    <mat-card-footer>Please sign in to use our site</mat-card-footer>
  </mat-card>
</div>
